<!DOCTYPE html>
<html>
<head>
<title>Fake News Detector</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="sytlesheet" href="assets/css/bootstrap.min.js"></link>
</head>
<body>
			  <div class="form-group">
                  <h3><span>Paste Your News Text Here: </span></h3>
                <form action="{{ url_for('predict')}}" method="POST" >
                  <textarea name="news" id="news" class="form-control" rows="10" style="height:150px;width:500px"></textarea>
                  <button type="submit" class="btn btn-primary btn-lg">Predict</button>
                  <h4>News Title: {{ mes }}</h4>
                  <h4>Result: {{ prediction }}</h4>
                  <h4>Probability: {{ prob }}</h4>
                  </form>
                </div>
                    <script>
                    function init() {
                    document.getElementById("news").value = "";
                    }
                    window.onload = init;
              </script>

            </div>
          </div>
          
        </div>
      </div>
</body>
</html>
